# Database Configuration
DB_HOST=db
DB_USER=root
DB_PASS=root_password
DB_NAME=my-portfolio

# Email Configuration
CONTACT_EMAIL=your-email@example.com
FROM_EMAIL=noreply@yourdomain.com

# CORS Configuration
ALLOWED_ORIGINS=http://localhost,http://localhost:4200,http://localhost:8000
